html {
  text-align: center;
  margin: 0 250px;
}
header { 
  display: flex;
}
h1 { 
  text-align: left;
}
nav ul {
  list-style: none;
  display: flex;
}
nav ul li {
  padding: 20px;
}
a {
  text-decoration: none;
  color: #000;
}
a:hover {
  color: blue;
}
div .authors {
  display: flex;
  flex-wrap: wrap;
}
footer {
  padding: 20px 0 40px 0 ;
  border-top: #000 solid 2px;
}